<%- include('header') %>
          </div>
          <div class="icons">
            
            <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
            <a href="cart.html" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">2</span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-blocks-cover" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">Rent Wear & Repeat</h2>
            <h2 class="sub-title">(24Hrs-48hrs)</h2>
            <h1>KLEIDER's Collection</h1>
            <p><a href="#" class="btn btn-black rounded-0">Rent Now</a></p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="images/bg1.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="title-section mb-5">
          <h2 class="text-uppercase"><span class="d-block"></span> The Collections</h2>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-8">
            <div class="product-item sm-height full-height bg-gray">
              <a href="#" class="product-category">Women <span>items</span></a>
              <img src="images/w1.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height bg-gray mb-4">
              <a href="#" class="product-category">Men <span>items</span></a>
              <img src="images/men2.jpg" alt="Image" class="img-fluid">
            </div>

            <div class="product-item sm-height bg-gray">
              <a href="#" class="product-category">Kid <span>items</span></a>
              <img src="images/u1.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">kleider's Popular dresses</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <img src="images/unnamed.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Sky blue Balochi(printed)</a></h2>
            <strong class="item-price">PKR.2,000</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <img src="images/bl.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">White Shalwar Kameez</a></h2>
            <strong class="item-price"> PKR.500</strong>
          </div>

          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <img src="images/mb.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Gray embroidered balochi dress</a></h2>
            <strong class="item-price"><del>PKR.2,000</del> PKR.1,000</strong>

            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>

          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <img src="images/lo.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Cotton Printer Suit</a></h2>
            <strong class="item-price"><del>PKR.1,000</del>PKR.500</strong>
           <!--- <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>--->
          </div>

          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <img src="images/u3.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Cindrella dress</a></h2>
            <strong class="item-price"><del>PKR.1500</del> PKR.800</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <img src="images/red.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Prince Charm Suit</a></h2>
            <strong class="item-price">PKR.600</strong>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center mb-5 col-12">
            <h2 class="text-uppercase">kleider's Most Rated</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3">
            <div class="nonloop-block-3 owl-carousel">
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="images/yel1.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Green Embroidery</a></h2>
                  <strong class="item-price"><del>PKR.2000</del> PKR.1200</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="images/Blue.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Blue 3 piece suit</a></h2>
                  <strong class="item-price"><del>PKR.900</del> PKR.600</strong>

                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="images/id3.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Snow White Frock</a></h2>
                  <strong class="item-price"><del>PKR.800</del> PKR.500</strong>

                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>

                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="images/qta.jpg" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Balochi yellow glass work</a></h2>
                  <strong class="item-price"><del>PKR.1200</del>PKR.900</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
             <!----<div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="images/model_7.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
                  <strong class="item-price">$58.00</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>-->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer') %>